
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/archivo'); 

@font-face {
    font-family: 'Garamond'; /*a name to be used later*/
    src: url('font/AGaramond-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Garamond Bold'; /*a name to be used later*/
    src: url('font/AGaramond-Semibold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'ScriptAdrhea'; /*a name to be used later*/
    src: url('font/AGaramond-Italic.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Vailery'; /*a name to be used later*/
    src: url('font/vailery.ttf'); /*URL to font*/
}

#liveLink
{
position:fixed;
	width:100%;
	background-color:red;
	padding:30px;
	height:200px;
	 font-family: 'Archivo', sans-serif;
font-size: 0.6rem;
	color:white;
	letter-spacing:1px;
	z-index:2000;
}

#liveSection
{
	width:80%;
	margin:auto;
	text-align:center;
}


body {
    margin: 0;
    font-family: 'Garamond', serif;
color:#EEF7F5;
	font-weight:bold;
    background: url('images/fullBG.jpg') no-repeat top center;
background-size:cover;
 }

.container {
    
	width: 100%;
    overflow-x: hidden;
    position: relative;
	margin-top:260px;
margin:auto;
}

.slide {
    padding: 20px;
    text-align: center;
    margin: auto;
	background: url('images/cover front.png') no-repeat top center;
}

.slide2 {
    padding: 20px;
    text-align: center;
    margin: auto;
}


.wedding-title {
    font-family: 'Archivo', sans-serif;
	font-size: 0.6rem;
	opacity: 100%;
	mix-blend-mode:hard-light;
    font-weight: 100;
	letter-spacing: 2px;
}

.wedding-subtitle {
    font-family: 'Archivo', sans-serif;
font-size: 0.6rem;
    font-weight: 300;
	padding-bottom: 30px;
	letter-spacing: 3px;
	

}
.couples-message {
margin: 18px auto;
    padding: 15px;
    border-radius: 8px;
	margin-bottom: 20px;
	margin-top:120px;
	color:#604655;
		
    
}

.message-slider {
    font-family: 'ScriptAdrhea', cursive;
font-size: 1rem;
    margin-bottom: 10px;
	font-weight: bold;
	width: 300px;
	height: 100px;
	margin:auto;
}

.message-slider-caption {
    font-family: 'Archivo', sans-serif;
font-size: 0.5rem;
	font-weight: bold;
    margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	
}

.event-info {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
	color:#604655;
	
}

.event {
    flex: 1;
    margin: 0 10px;
font-family: 'Archivo', sans-serif;
	font-size:0.8rem;
}

.event-name {
font-family: 'Garamond Bold', sans-serif;
	font-size:1.2rem;
}

.dresscode-info {
    padding: 27px;
	color:#604655;
	width:90%;
	margin:auto;
	padding-bottom: 30px;
	height:240px;
    border-radius: 5px;
	font-family: 'Archivo', sans-serif;
	font-size: 0.6rem;
	background: url('images/dresscodePantone.png') no-repeat top center;
}
.prize-info {
    padding: 15px;
	width:90%;
	margin:auto;
	padding-bottom: 30px;
	height:270px;
    border-radius: 5px;
	font-family: 'Archivo', sans-serif;
	font-size: 0.6rem;
	font-weight:normal;
	background: url('images/coverGift.png') no-repeat top center;
}

.linkLoc {
	color:#604655;
	margin-top:20px;
	font-size:0.5rem;
	letter-spacing:3px;
	text-decoration:underline;
}

.linkLoc:link {
	color:#604655;
	text-decoration:underline;
}

.linkLoc:visited {
	color:#604655;
	text-decoration:underline;
}

.linkLoc:hover {
	color:#604655;
	text-decoration:none;
}

#linkTiny {
  color:#EEF7F5;
	text-decoration:underline;
}
#linkTiny:link {
  color:#EEF7F5;
	text-decoration:underline;
}

/* visited link */
#linkTiny:visited {
   color:#EEF7F5;
	text-decoration:none;
}

/* mouse over link */
#linkTiny:hover {
   color:#0056b3;
	text-decoration:underline;
}

/* selected link */
.prize-detail p a:active {
   color:#EEF7F5;
	text-decoration:none;
}
form {
    margin: auto;
    max-width: 400;
    padding: 30px;
    animation: fadeIn 1s ease-in-out;
	color:#735667;
	font-family:'Archivo', sans-serif;
	font-size:0.7rem;
	margin-top:10px;
}

input, textarea, button {
    width: 90%;
	margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
	font-family: 'Garamond', serif;
  
}

textarea{
	padding-bottom:50px;
	
}

.theradio{
    width: 10px;
    margin-bottom: 20px;
margin-left:10px;
    padding: 0px;

}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Garamond', serif;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#rsvp{
	background: none;
	width: 300px;
	margin:auto;
	
}

.rsvp-btn {
    background-color: #715F71;
    color: white;
	width:150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.6rem;
    cursor: pointer;
    margin: auto;
	margin-top:30px;
	margin-bottom:0px;
    animation: fadeIn 1s ease-in-out;
    font-family: 'Archivo', sans-serif;
	letter-spacing: 3px;
font-weight:500;
}

#letterFrom{
	margin-top:0px;
	padding:0;
	font-size:1rem;
	font-family: 'Garamond Bold', sans-serif;
		
}

.giftTitle{
	font-family: 'Archivo', sans-serif;
font-size: 0.9rem;
	margin-top:30px;
	margin-bottom:20px;
	letter-spacing:3px;
}

.rsvp-btn:hover {
    background-color: #c0a785;
}
.submit-btn {
    width:100px;
	background-color: #715F71;
}
.submit-btn:hover {
    background-color: #c0a785;
}

#char-counter {
    color: #735667;
	font-size:9px;
	font-family: Archivo;
	letter-spacing: 2px;
	margin-bottom:40px;
	margin: auto;
}
#footer {
    width: 90%;
    overflow-x: hidden;
    position: relative;
margin:auto;
	color:#735667;
font-size:7px;
font-family:'Archivo', sans-serif;
text-align:center;
padding-top: 10px;
padding-bottom : 30px;
}

#background-music {
    display: none; /* Hides the audio element */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


